@charset "UTF-8";
/* Исморт вспомогательных стилей */
:root {
  --global-fonts-family: "Roboto", sans-serif;
  --global-color-blue: #558cb7;
  --global-color-blue-light: #82b3d9;
  --global-color-gray: #777777;
  --global-color-gray-light: #dddddd;
  --global-color-gray-dark: #c4c4c4;
  --global-color-black: #000;
  --global-color-black-gray: #333333;
  --global-color-green: #007b1b;
  --global-color-red: #9f2b11;
  --global-color-white: #fff;
}

.text-blue {
  color: var(--global-color-blue);
}

.text-gray {
  color: var(--global-color-gray);
}

.text-black {
  color: var(--global-color-black);
}

.text-black-gray {
  color: var(--global-color-black-gray);
}

.text-green {
  color: var(--global-color-green);
}

.text-red {
  color: var(--global-color-red);
}

.text-white {
  color: var(--global-color-white);
}

/* Для всех элементов по умолчанию */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0px;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
input:focus, input:focus-visible,
button:focus,
button:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
}

input[type=hidden] {
  display: none;
}

/* Убираем декорации для ссылок */
a,
a[class] {
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Настраеваем body */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

/* Исморт стилей элементов */
.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125vw;
  width: 100%;
  min-height: 29.6875vw;
}
@media screen and (min-width: 526px) {
  .input {
    gap: 1.3440860215vw;
    min-height: 11.4247311828vw;
  }
}
@media screen and (min-width: 921px) {
  .input {
    gap: 0.6944444444vw;
    min-height: 5.9027777778vw;
  }
}
@media screen and (min-width: 1440px) {
  .input {
    gap: 10px;
    min-height: 85px;
  }
}
.input__wrapper {
  position: relative;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  gap: 1.5625vw;
  width: inherit;
}
@media screen and (min-width: 526px) {
  .input__wrapper {
    gap: 0.6720430108vw;
  }
}
@media screen and (min-width: 921px) {
  .input__wrapper {
    gap: 0.3472222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .input__wrapper {
    gap: 5px;
  }
}
.input__title {
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 4.375vw;
}
@media screen and (min-width: 526px) {
  .input__title {
    font-size: 1.8817204301vw;
  }
}
@media screen and (min-width: 921px) {
  .input__title {
    font-size: 0.9722222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .input__title {
    font-size: 14px;
  }
}
.input__field {
  display: inline-block;
  padding: 3.75vw 6.25vw;
  width: 100%;
  height: 12.5vw;
  border-width: 0.3125vw;
  border-style: solid;
  border-color: var(--global-color-gray-light);
  -webkit-transition: border-color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s;
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 4.375vw;
}
@media screen and (min-width: 526px) {
  .input__field {
    font-size: 1.8817204301vw;
  }
}
@media screen and (min-width: 921px) {
  .input__field {
    font-size: 0.9722222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .input__field {
    font-size: 14px;
  }
}
.input__field:focus:active, .input__field:focus-visible:active, .input__field:focus, .input__field:focus-visible {
  border-color: var(--global-color-blue-light);
}
.input__field:disabled {
  background-color: var(--global-color-gray-light);
}
@media screen and (min-width: 526px) {
  .input__field {
    padding: 1.6129032258vw 2.688172043vw;
    height: 5.376344086vw;
    border-width: 0.1344086022vw;
  }
}
@media screen and (min-width: 921px) {
  .input__field {
    padding: 0.8333333333vw 1.3888888889vw;
    height: 2.7777777778vw;
    border-width: 0.0694444444vw;
  }
}
@media screen and (min-width: 1440px) {
  .input__field {
    padding: 12px 20px;
    height: 40px;
    border-width: 1px;
  }
}
.input__field_error, .input__field_error:focus, .input__field_error:focus-visible, .input__field_error:focus:active, .input__field_error:focus-visible:active {
  border-color: var(--global-color-red);
}
.input__error {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
  -webkit-transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 100%;
}
@media screen and (min-width: 526px) {
  .input__error {
    font-size: 1.6129032258vw;
  }
}
@media screen and (min-width: 921px) {
  .input__error {
    font-size: 0.8333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .input__error {
    font-size: 12px;
  }
}
.input__error_show {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 0.9375vw;
  background-color: var(--global-color-blue);
  min-width: 62.5vw;
  min-height: 12.5vw;
  padding: 4.0625vw 0px;
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 4.375vw;
  text-align: center;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.3s;
  transition: -webkit-box-shadow ease-in-out 0.3s;
  transition: box-shadow ease-in-out 0.3s;
  transition: box-shadow ease-in-out 0.3s, -webkit-box-shadow ease-in-out 0.3s;
}
@media screen and (min-width: 526px) {
  .button {
    font-size: 1.8817204301vw;
  }
}
@media screen and (min-width: 921px) {
  .button {
    font-size: 0.9722222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (min-width: 526px) {
  .button {
    border-radius: 0.4032258065vw;
    min-width: 26.8817204301vw;
    min-height: 5.376344086vw;
    padding: 1.747311828vw 0px;
  }
}
@media screen and (min-width: 921px) {
  .button {
    border-radius: 0.2083333333vw;
    min-width: 13.8888888889vw;
    min-height: 2.7777777778vw;
    padding: 0.9027777778vw 0px;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    border-radius: 3px;
    min-width: 200px;
    min-height: 40px;
    padding: 13px 0px;
  }
}
.button:hover, .button:hover:focus, .button:hover:focus-visible {
  -webkit-box-shadow: 0px 0.625vw 3.125vw 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0.625vw 3.125vw 0px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 526px) {
  .button:hover, .button:hover:focus, .button:hover:focus-visible {
    -webkit-box-shadow: 0px 0.2688172043vw 1.3440860215vw 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0.2688172043vw 1.3440860215vw 0px rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 921px) {
  .button:hover, .button:hover:focus, .button:hover:focus-visible {
    -webkit-box-shadow: 0px 0.1388888889vw 0.6944444444vw 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0.1388888889vw 0.6944444444vw 0px rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 1440px) {
  .button:hover, .button:hover:focus, .button:hover:focus-visible {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  }
}
.button:hover:focus:active, .button:hover:focus-visible:active, .button:focus:active, .button:focus-visible:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button:focus, .button:focus-visible {
  -webkit-box-shadow: 0px 0px 1.5625vw 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 1.5625vw 0px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 526px) {
  .button:focus, .button:focus-visible {
    -webkit-box-shadow: 0px 0px 0.6720430108vw 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 0.6720430108vw 0px rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 921px) {
  .button:focus, .button:focus-visible {
    -webkit-box-shadow: 0px 0px 0.3472222222vw 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 0.3472222222vw 0px rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 1440px) {
  .button:focus, .button:focus-visible {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  }
}
.button:disabled, .button:disabled:hover {
  cursor: not-allowed;
  background-color: var(--global-color-blue-light);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button_registreation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: transparent;
  width: 10vw;
  height: 10vw;
}
@media screen and (min-width: 526px) {
  .icon-button {
    width: 4.3010752688vw;
    height: 4.3010752688vw;
  }
}
@media screen and (min-width: 921px) {
  .icon-button {
    width: 2.2222222222vw;
    height: 2.2222222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .icon-button {
    width: 32px;
    height: 32px;
  }
}
.icon-button__icon {
  fill: var(--global-color-gray-dark);
  -webkit-transition: fill ease-in-out 0.3s;
  transition: fill ease-in-out 0.3s;
  min-width: 10vw;
  min-height: 10vw;
}
@media screen and (min-width: 526px) {
  .icon-button__icon {
    min-width: 4.3010752688vw;
    min-height: 4.3010752688vw;
  }
}
@media screen and (min-width: 921px) {
  .icon-button__icon {
    min-width: 2.2222222222vw;
    min-height: 2.2222222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .icon-button__icon {
    min-width: 32px;
    min-height: 32px;
  }
}
.icon-button:hover .icon-button__icon, .icon-button:hover:focus .icon-button__icon, .icon-button:hover:focus-visible .icon-button_icon {
  fill: var(--global-color-blue);
}
.icon-button:hover:focus:active .icon-button__icon, .icon-button:hover:focus-visible:active .icon-button__icon, .icon-button:focus:active .icon-button__icon, .icon-button:focus-visible:active .icon-button__icon {
  fill: var(--global-color-blue);
}
.icon-button:focus .icon-button__icon, .icon-button:focus-visible .icon-button__icon {
  fill: var(--global-color-blue);
}
.icon-button:disabled .icon-button__icon {
  cursor: not-allowed;
  fill: var(--global-color-gray-light);
}

.password-checker,
.password-checker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.password-checker {
  background-color: var(--global-color-white);
  gap: 1.5625vw;
}
@media screen and (min-width: 526px) {
  .password-checker {
    gap: 0.6720430108vw;
  }
}
@media screen and (min-width: 921px) {
  .password-checker {
    gap: 0.3472222222vw;
  }
}
@media screen and (min-width: 1440px) {
  .password-checker {
    gap: 5px;
  }
}
.password-checker__title {
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 3.75vw;
}
@media screen and (min-width: 526px) {
  .password-checker__title {
    font-size: 1.6129032258vw;
  }
}
@media screen and (min-width: 921px) {
  .password-checker__title {
    font-size: 0.8333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .password-checker__title {
    font-size: 12px;
  }
}
.password-checker__list {
  gap: 0.9375vw;
}
@media screen and (min-width: 526px) {
  .password-checker__list {
    gap: 0.4032258065vw;
  }
}
@media screen and (min-width: 921px) {
  .password-checker__list {
    gap: 0.2083333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .password-checker__list {
    gap: 3px;
  }
}
.password-checker__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25vw;
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 100%;
}
@media screen and (min-width: 526px) {
  .password-checker__item {
    font-size: 1.6129032258vw;
  }
}
@media screen and (min-width: 921px) {
  .password-checker__item {
    font-size: 0.8333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .password-checker__item {
    font-size: 12px;
  }
}
@media screen and (min-width: 526px) {
  .password-checker__item {
    gap: 0.5376344086vw;
  }
}
@media screen and (min-width: 921px) {
  .password-checker__item {
    gap: 0.2777777778vw;
  }
}
@media screen and (min-width: 1440px) {
  .password-checker__item {
    gap: 4px;
  }
}
.password-checker__icon {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z' fill='%23777777'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 526px) {
  .password-checker__icon {
    width: 2.1505376344vw;
    height: 2.1505376344vw;
  }
}
@media screen and (min-width: 921px) {
  .password-checker__icon {
    width: 1.1111111111vw;
    height: 1.1111111111vw;
  }
}
@media screen and (min-width: 1440px) {
  .password-checker__icon {
    width: 16px;
    height: 16px;
  }
}
.password-checker__icon_ok {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z' fill='%23007B1B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5293 5.13842L8.0293 11.6384C7.86051 11.8822 7.59224 12.0385 7.29691 12.0652C7.00159 12.0918 6.70967 11.986 6.5 11.7763L3 8.27632L4.41421 6.8621L7.06695 9.51484L10.8849 4L12.5293 5.13842Z' fill='%23007B1B'/%3E%3C/svg%3E");
}
.password-checker__icon_error {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z' fill='%239F2B11'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00001 6.5858L10.7929 3.79291L12.2071 5.20712L9.41423 8.00001L12.2071 10.7929L10.7929 12.2071L8.00001 9.41423L5.20712 12.2071L3.79291 10.7929L6.5858 8.00001L3.79291 5.20712L5.20712 3.79291L8.00001 6.5858Z' fill='%239F2B11'/%3E%3C/svg%3E");
}

.option {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
}

/* Check */
.check {
  padding-left: 5vw;
}
@media screen and (min-width: 526px) {
  .check {
    padding-left: 2.1505376344vw;
  }
}
@media screen and (min-width: 921px) {
  .check {
    padding-left: 1.1111111111vw;
  }
}
@media screen and (min-width: 1440px) {
  .check {
    padding-left: 16px;
  }
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  margin-top: 0px;
  overflow: hidden;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 0.3125vw var(--global-color-gray-light);
          box-shadow: 0 0 0 0.3125vw var(--global-color-gray-light);
  margin-left: -5vw;
  width: 3.75vw;
  height: 3.75vw;
  border-radius: 0.625vw;
}
@media screen and (min-width: 526px) {
  .check__box {
    margin-left: -2.1505376344vw;
    width: 1.6129032258vw;
    height: 1.6129032258vw;
    border-radius: 0.2688172043vw;
    -webkit-box-shadow: 0 0 0 0.1344086022vw var(--global-color-gray-light);
            box-shadow: 0 0 0 0.1344086022vw var(--global-color-gray-light);
  }
}
@media screen and (min-width: 921px) {
  .check__box {
    margin-left: -1.1111111111vw;
    width: 0.8333333333vw;
    height: 0.8333333333vw;
    border-radius: 0.1388888889vw;
    -webkit-box-shadow: 0 0 0 0.0694444444vw var(--global-color-gray-light);
            box-shadow: 0 0 0 0.0694444444vw var(--global-color-gray-light);
  }
}
@media screen and (min-width: 1440px) {
  .check__box {
    margin-left: -16px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px var(--global-color-gray-light);
            box-shadow: 0 0 0 1px var(--global-color-gray-light);
  }
}

.check__text {
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 100%;
  color: var(--global-color-black);
}
@media screen and (min-width: 526px) {
  .check__text {
    font-size: 1.6129032258vw;
  }
}
@media screen and (min-width: 921px) {
  .check__text {
    font-size: 0.8333333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .check__text {
    font-size: 12px;
  }
}
.check__text a {
  color: var(--global-color-blue);
}
.check__text a:hover, .check__text a:focus, .check__text a:focus-visible {
  text-decoration: underline;
}

/* Checked */
.check__input:checked + .check__box {
  background-color: var(--global-color-blue);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='9' viewBox='0 0 10 9' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m9.53 1.14-4.5 6.5a1 1 0 0 1-1.53.14L0 4.28l1.41-1.42 2.66 2.65L7.88 0l1.65 1.14Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: 50% 50%;
  background-size: 9px 9px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Focused */
.check__input:focus + .check__box {
  -webkit-box-shadow: 0 0 0 0.3125vw var(--global-color-blue-light);
          box-shadow: 0 0 0 0.3125vw var(--global-color-blue-light);
}
@media screen and (min-width: 526px) {
  .check__input:focus + .check__box {
    -webkit-box-shadow: 0 0 0 0.1344086022vw var(--global-color-blue-light);
            box-shadow: 0 0 0 0.1344086022vw var(--global-color-blue-light);
  }
}
@media screen and (min-width: 921px) {
  .check__input:focus + .check__box {
    -webkit-box-shadow: 0 0 0 0.0694444444vw var(--global-color-blue-light);
            box-shadow: 0 0 0 0.0694444444vw var(--global-color-blue-light);
  }
}
@media screen and (min-width: 1440px) {
  .check__input:focus + .check__box {
    -webkit-box-shadow: 0 0 0 1px var(--global-color-blue-light);
            box-shadow: 0 0 0 1px var(--global-color-blue-light);
  }
}

/* Disabled */
.check__input:disabled + .check__box {
  -webkit-box-shadow: 0 0 0 0.3125vw var(--global-color-gray-light);
          box-shadow: 0 0 0 0.3125vw var(--global-color-gray-light);
}
@media screen and (min-width: 526px) {
  .check__input:disabled + .check__box {
    -webkit-box-shadow: 0 0 0 0.1344086022vw var(--global-color-gray-light);
            box-shadow: 0 0 0 0.1344086022vw var(--global-color-gray-light);
  }
}
@media screen and (min-width: 921px) {
  .check__input:disabled + .check__box {
    -webkit-box-shadow: 0 0 0 0.0694444444vw var(--global-color-gray-light);
            box-shadow: 0 0 0 0.0694444444vw var(--global-color-gray-light);
  }
}
@media screen and (min-width: 1440px) {
  .check__input:disabled + .check__box {
    -webkit-box-shadow: 0 0 0 1px var(--global-color-gray-light);
            box-shadow: 0 0 0 1px var(--global-color-gray-light);
  }
}

.check__input:checked:disabled + .check__box {
  background-color: var(--global-color-gray-light);
}

/* Исморт стилей блоков */
.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.5);
  visibility: hidden;
  overflow: auto;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}
.modal__container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  background-color: var(--global-color-white);
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 3.125vw 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3.125vw 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 526px) {
  .modal__container {
    width: 64.6505376344vw;
    height: auto;
    border-radius: 0.4032258065vw;
    -webkit-box-shadow: 0px 0px 1.3440860215vw 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 1.3440860215vw 0px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 921px) {
  .modal__container {
    width: 33.4027777778vw;
    height: auto;
    border-radius: 0.2083333333vw;
    -webkit-box-shadow: 0px 0px 0.6944444444vw 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0.6944444444vw 0px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 1440px) {
  .modal__container {
    width: 481px;
    height: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
}
.modal__body {
  height: 100%;
  padding: 6.25vw;
}
@media screen and (min-width: 526px) {
  .modal__body {
    padding: 5.376344086vw;
  }
}
@media screen and (min-width: 921px) {
  .modal__body {
    padding: 2.7777777778vw;
  }
}
@media screen and (min-width: 1440px) {
  .modal__body {
    padding: 40px;
  }
}
.modal__header {
  font-family: var(--global-fonts-family);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 7.5vw;
  color: var(--global-color-black);
  margin-bottom: 9.375vw;
}
@media screen and (min-width: 526px) {
  .modal__header {
    font-size: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .modal__header {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .modal__header {
    font-size: 24px;
  }
}
@media screen and (min-width: 526px) {
  .modal__header {
    margin-bottom: 4.0322580645vw;
  }
}
@media screen and (min-width: 921px) {
  .modal__header {
    margin-bottom: 2.0833333333vw;
  }
}
@media screen and (min-width: 1440px) {
  .modal__header {
    margin-bottom: 30px;
  }
}
.modal__close {
  position: absolute;
  top: 6.25vw;
  right: 6.25vw;
}
@media screen and (min-width: 526px) {
  .modal__close {
    top: 4.3010752688vw;
    right: 5.6451612903vw;
  }
}
@media screen and (min-width: 921px) {
  .modal__close {
    top: 2.2222222222vw;
    right: 2.9166666667vw;
  }
}
@media screen and (min-width: 1440px) {
  .modal__close {
    top: 32px;
    right: 42px;
  }
}
.modal__content {
  display: block;
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity ease-in-out 0.6s;
  transition: opacity ease-in-out 0.6s;
}
.visible .modal__container {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-in-out 0.6s;
  transition: -webkit-transform ease-in-out 0.6s;
  transition: transform ease-in-out 0.6s;
  transition: transform ease-in-out 0.6s, -webkit-transform ease-in-out 0.6s;
}

body.modal__visible {
  overflow: hidden;
}

.modal-content {
  height: 100%;
  visibility: hidden;
}

.form,
.form__container,
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 526px) {
  .form {
    gap: 5.376344086vw;
  }
}
@media screen and (min-width: 921px) {
  .form {
    gap: 2.7777777778vw;
  }
}
@media screen and (min-width: 1440px) {
  .form {
    gap: 40px;
  }
}
.form__container {
  gap: 5.3125vw;
}
@media screen and (min-width: 526px) {
  .form__container {
    gap: 2.2849462366vw;
  }
}
@media screen and (min-width: 921px) {
  .form__container {
    gap: 1.1805555556vw;
  }
}
@media screen and (min-width: 1440px) {
  .form__container {
    gap: 17px;
  }
}
.form__wrapper {
  gap: 3.125vw;
}
@media screen and (min-width: 526px) {
  .form__wrapper {
    gap: 1.3440860215vw;
  }
}
@media screen and (min-width: 921px) {
  .form__wrapper {
    gap: 0.6944444444vw;
  }
}
@media screen and (min-width: 1440px) {
  .form__wrapper {
    gap: 10px;
  }
}