doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Издательский дом (МК) тестовое задание от Анпилогов Артём
    style
      | @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
    link(rel="stylesheet", type="text/css", href="./assets/css/index.min.css")
    script(type="text/javascript" src="./assets/js/main.js")


  block content
